@charset "UTF-8";
html {
  font-size: 62.5%;
  font-family: "Noto Sans JP", sans-serif;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  text-align: left;
  line-height: 1.7;
  font-family: "Noto Sans JP", sans-serif;
  position: static;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/*header-------------------------------------------------
------------------------------------------------------*/
.header {
  background-color: #ffffff;
  width: 100%;
  z-index: 200;
  /*ボックスの重なりの順序を指定する/0を基準として、値が大きいものほど上/初期値auto=親要素と同じ階層*/
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
}
@media screen and (max-width:1200px) {
  .header {
    height: 50px;
  }
}

.header-left {
  margin-left: 6px;
  width: 160px;
  text-align: left;
  font-size: 1.6rem;
}
.header-left a {
  display: flex;
  height: 70px;
  line-height: 1.3;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  align-content: center;
  align-items: center;
  white-space: nowrap;
  /*white-space=ソース中のホワイトスペース（連続する半角スペース・タブ）の表示/改行の表示方法
  nowrap=ソース中のホワイトスペースを無視,ソース中の改行を1つの半角スペースとして表示,ボックスサイズが指定されている場合にも自動改行しない*/
  padding-left: 15px;
}
@media screen and (max-width:1200px) {
  .header-left a {
    margin: 10px;
    height: 30px;
    padding: 0;
  }
}
.header-left a img {
  vertical-align: middle;
  height: 33px;
  width: auto;
}
@media screen and (max-width:1200px) {
  .header-left a img {
    width: 160px;
    height: 30px;
  }
}
.header-left a span {
  font-size: 1.4rem;
  font-weight: 900;
  color: #131D34;
  margin-left: 16px;
}
@media screen and (max-width:1280px) {
  .header-left a span {
    display: none;
  }
}
.header-left a strong {
  font-size: 1.8rem;
  font-weight: bolder;
}

.header-right {
  font-weight: 700;
}
.header-right .global-nav {
  display: block;
}
@media screen and (max-width:1200px) {
  .header-right .global-nav {
    display: none;
  }
}
.header-right .global-nav .main-nav {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.header-right .global-nav .main-nav .main-nav-menu {
  position: relative;
  white-space: nowrap;
}
.header-right .global-nav .main-nav .main-nav-menu a {
  height: 70px;
  font-size: 1.6rem;
  color: #131D34;
  padding: 0 15px;
  align-items: center;
  display: flex;
}
.header-right .global-nav .main-nav .main-nav-menu .menu-btn {
  background-color: #2498b3;
  color: #ffffff;
}
.header-right .global-nav .main-nav .main-nav-menu a:hover {
  background-color: #d4f1f8;
}
.header-right .global-nav .main-nav .main-nav-menu:nth-child(7):hover > a {
  background-color: #2498b3;
}
.header-right .global-nav .sub-nav {
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  z-index: 99;
}
.header-right .global-nav .sub-nav .sub-nav-menu {
  font-weight: 400;
  background-color: #e9f8fb;
  position: relative;
  white-space: nowrap;
}
.header-right .global-nav .sub-nav .sub-nav-menu a {
  position: relative;
  padding: 15px 60px 15px 15px;
  height: auto;
  display: flex;
  align-items: center;
  font-family: sans-serif;
  font-weight: 400;
}
.header-right .global-nav .sub-nav .sub-nav-menu a:hover {
  color: #2498b3;
  background-color: #ffffff;
}

@media screen and (max-width:1200px) {
  .global-nav.is-open {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #ffffff;
  }
}
@media screen and (max-width:1200px) {
  .global-nav.is-open .main-nav {
    transition: all 0.2s;
    height: auto;
    display: flex;
    flex-direction: column;
    z-index: 99;
  }
}
@media screen and (max-width:1200px) {
  .global-nav.is-open .main-nav .main-nav-menu {
    position: relative;
    white-space: nowrap;
  }
  .global-nav.is-open .main-nav .main-nav-menu:last-of-type {
    display: none;
  }
}
@media screen and (max-width:1200px) {
  .global-nav.is-open .main-nav .main-nav-menu a {
    display: flex;
    align-items: center;
    position: relative;
    height: auto;
    padding: 10px 10px 10px 15px;
  }
  .global-nav.is-open .main-nav .main-nav-menu a:hover {
    background-color: #f3fafb;
  }
}
@media screen and (max-width:1200px) {
  .global-nav.is-open .main-nav .main-nav-menu .sub-nav {
    display: none;
    transition: all 0.2;
    position: static;
    z-index: 99;
  }
}
@media screen and (max-width:1200px) {
  .global-nav.is-open .main-nav .main-nav-menu .sub-nav .sub-nav-menu {
    background-color: #ffffff;
    font-weight: 400;
  }
}
@media screen and (max-width:1200px) {
  .global-nav.is-open .main-nav .main-nav-menu .sub-nav .sub-nav-menu > a {
    padding: 10px 10px 10px 25px;
    position: relative;
    height: auto;
  }
  .global-nav.is-open .main-nav .main-nav-menu .sub-nav .sub-nav-menu > a:hover {
    color: #131D34;
    background-color: #f3fafb;
  }
}

@media screen and (max-width:1200px) {
  .main-nav-menu > a::before {
    display: block;
    position: absolute;
    top: 50%;
    right: 12px;
    content: "";
    width: 25px;
    height: 2px;
    background-color: #121212;
  }
}

.main-nav-menu:hover > a::after {
  display: none;
}

@media screen and (max-width:1200px) {
  .main-nav-menu > a::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 24.5px;
    content: "";
    width: 2px;
    height: 25px;
    background-color: #121212;
    margin-top: -11.5px;
  }
}

.main-nav-menu:nth-of-type(3) > a:before {
  display: none;
}
.main-nav-menu:nth-of-type(3) > a:after {
  display: none;
}

/*main-------------------------------------------
-----------------------------------------------*/
.main {
  padding-top: 70px;
}
@media screen and (max-width:1200px) {
  .main {
    padding-top: 50px;
  }
}

.MainTop {
  background-image: url(../images/bg-hero3.png);
  height: 650px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width:767px) {
  .MainTop {
    height: 300px;
    padding-bottom: 320px;
    background-position-x: center;
    background-position-y: -25px;
  }
}
.MainTop__layer {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}
.MainTop__layer1 {
  background-image: url(../images/bg-hero1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: auto;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 80px;
}
@media screen and (max-width:767px) {
  .MainTop__layer1 {
    background-size: cover;
    align-items: flex-end;
    background-position-x: center;
    background-position-y: -30px;
  }
}
.MainTop__layer1 .main-concept {
  max-width: 530px;
  border-radius: 10px;
  padding: 43px 40px 19px 40px;
  background-color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
}
@media screen and (max-width:767px) {
  .MainTop__layer1 .main-concept {
    width: 100%;
    max-width: 100%;
    padding: 9px 0 13px;
    border-radius: 0;
  }
}
.MainTop__layer1 .main-concept h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.MainTop__layer1 .main-concept h1 img {
  width: 280px;
  height: 59px;
}
@media screen and (max-width:767px) {
  .MainTop__layer1 .main-concept h1 img {
    display: none;
  }
}
.MainTop__layer1 .main-concept p {
  font-size: 16px;
  font-weight: 700;
  margin: 1.3em 0px 0.5em 0;
  text-align: center;
}
@media screen and (max-width:767px) {
  .MainTop__layer1 .main-concept p {
    margin: 0.5em 0;
    font-size: 1.3rem;
  }
}
.MainTop__layer1 .main-concept .main-btn {
  margin: 20.8px 0px 8px 0px;
  display: inline-block;
  line-height: 1;
}
@media screen and (max-width:767px) {
  .MainTop__layer1 .main-concept .main-btn {
    margin: 0.5em 0;
    font-size: 1.3rem;
  }
}
.MainTop__layer1 .main-concept .main-btn > a {
  background-color: #2498b3;
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none;
  padding: 24px 37px;
  border-radius: 4px;
  border: solid 1px #c3c3c3;
  display: block;
}
@media screen and (max-width:767px) {
  .MainTop__layer1 .main-concept .main-btn > a {
    padding: 12px 18px;
    font-size: 1.6rem;
  }
}
.MainTop__layer2 {
  background-image: url(../images/bg-hero2.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: auto;
  z-index: 10;
}
@media screen and (max-width:767px) {
  .MainTop__layer2 {
    background-size: cover;
    background-position-x: center;
    background-position-y: -25px;
  }
}

/*recommend-----------------------------------------------
-----------------------------------------------------------*/
.black-section {
  display: block;
  background-color: #000000;
  padding-bottom: 50px;
  padding: 4em 0;
  z-index: 30;
}
.black-section .recommendation-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  -webkit-box-pack: center;
  margin-top: -240px;
  z-index: 40;
  /*@include mq(md){
      margin: 0 10px 0 10px; 
     }*/
}
@media screen and (max-width:767px) {
  .black-section .recommendation-wrapper {
    margin-top: 0;
    flex-direction: column;
    align-items: center;
  }
}
.black-section .recommendation-wrapper .recommendation {
  margin: 0px 50px;
  width: 229px;
  text-align: center;
  z-index: 40;
}
@media screen and (max-width:1078px) {
  .black-section .recommendation-wrapper .recommendation {
    width: 29.33%;
    margin: 0 2%;
  }
}
@media screen and (max-width:767px) {
  .black-section .recommendation-wrapper .recommendation {
    width: auto;
    margin-bottom: 2.5rem;
  }
}
.black-section .recommendation-wrapper .recommendation .recommendation-icon {
  display: flex;
  margin: 0px auto;
  width: 230px;
  height: 230px;
  background-color: #ffffff;
  border: solid 6px #000000;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-size: 100px;
}
.black-section .recommendation-wrapper .recommendation .recommendation-icon i {
  font-size: 100px;
  width: 125px;
  line-height: 230px;
}
.black-section .recommendation-wrapper .recommendation .recommendation-title {
  color: #ffffff;
  font-size: 2.4rem;
  font-weight: 700;
  margin: 0.2em 0 0 0;
}
.black-section .recommendation-wrapper .recommendation .recommendation-text {
  color: #ffffff;
  text-align: left;
  margin: 0.5em 0 0 0;
  font-size: 1.6rem;
  font-weight: 700;
}

.p-hamburger {
  display: none;
  margin-bottom: 0;
  margin-top: 0;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  position: relative;
  cursor: pointer;
}
@media screen and (max-width:1200px) {
  .p-hamburger {
    display: block;
  }
}
.p-hamburger::before, .p-hamburger::after {
  content: "";
  width: 23px;
  height: 2px;
  background: #2498b3;
  position: absolute;
  left: calc( 50% - ( 23px / 2 ));
  display: block;
  transition: transform 0.2s;
}
.p-hamburger::before {
  top: 16px;
}
.p-hamburger::after {
  top: 34px;
}
.p-hamburger > span {
  width: 23px;
  height: 2px;
  font-size: 0;
  background: #2498b3;
  background-size: auto 2px;
  position: absolute;
  left: calc( 50% - ( 23px / 2 ));
  top: 50%;
  transition: transform 0.2s;
}
.p-hamburger.is-open {
  background-color: #2498b3;
}
.p-hamburger.is-open::before {
  transform: rotate(45deg);
  background-color: #ffffff;
  top: 25px;
}
.p-hamburger.is-open::after {
  transform: rotate(-45deg);
  background-color: #ffffff;
  top: 25px;
}
.p-hamburger.is-open > span {
  background: none;
}/*# sourceMappingURL=style.css.map */