.p-hamburger{
    display: none;//add
    margin-bottom: 0;//add
    margin-top: 0;//add
    width: 50px;
    height: 50px;
    background-color: $main-white;
    position: relative;
    cursor: pointer;
    //z-index: 5; //add
    
    @include mq(lg){
        display: block;  //ハンバーガーボタン出現
    }

    &::before,
    &::after {
        content: "";
        width: $btnWidth;
        height:$btnHeight;
        background: $dark-blue;
        position: absolute;
        left: calc( 50% - ( #{$btnWidth} / 2 ));; //３本線の始まり位置を整える
        display: block;
        transition: transform 0.2s;
    }
    &::before {
        top: 16px;
    }
    &::after{
        top: 34px;
    }

    >span{
        width: $btnWidth;
        height:$btnHeight;
        font-size: 0;
        background: $dark-blue;
        background-size: auto $btnHeight;
        position: absolute;
        left: calc( 50% - ( #{$btnWidth} / 2 ));;
        top: 50%;
        transition: transform 0.2s;
    }


    //ハンバーガーボタンに’is-open’が付与された時のスタイリング//
    &.is-open{
        background-color: $dark-blue;
        &::before{
            transform: rotate( 45deg);
            background-color: $main-white;
            top: 25px;
        }
        &::after{
            transform: rotate(-45deg) ;
            background-color: $main-white;
            top: 25px;
        }
        > span{
            background: none;
        }
    }
}



    

