//BlueColor//
$dark-blue:#2498b3;
$hover-blue:#d4f1f8;
$sub-lightblue:#e9f8fb;
$hamburger-blue:#f3fafb;

//BlackColor//
$first-black:#131D34;
$second-black:#121212;
$third-black:#000000;

//WhiteColor//
$main-white:#ffffff;
$border-white:#c3c3c3;

//hamburgerbtn-size//
$btnWidth: 23px;
$btnHeight: 2px;
